[MASTER]
max-line-length=120
disable=
    missing-docstring,
    too-few-public-methods,
    too-many-arguments,
    too-many-instance-attributes,
    too-many-locals,
    too-many-branches,
    too-many-statements,
    invalid-name,
    fixme

[FORMAT]
max-line-length=120

[DESIGN]
max-args=10
max-attributes=15
max-branches=15
