task:
  model:
    class: TCNModel
    module_path: qlib.contrib.model.pytorch_tcn
    kwargs:
      d_feat: 158
      channels: [64, 128, 128]
      kernel_size: 5
      dropout: 0.2
      n_epochs: 120
      lr: 0.001
      GPU: 0
  dataset:
    class: DatasetH
    kwargs:
      handler:
        class: Alpha158
        kwargs:
          instruments: csi300
          start_time: 2018-01-01
          end_time: 2023-12-31
          label: |
            (
              (Ref($close, -1) / $close - 1 > 0.095) &
              (Ref($close, -2) / Ref($close, -1) - 1 > 0)
            )
      segments:
        train: [2019-01-01, 2021-12-31]
        valid: [2022-01-01, 2022-12-31]
        test:  [2023-01-01, 2023-12-31]
strategy:
  class: TopkDropoutStrategy
  module_path: qlib.contrib.strategy
  kwargs:
    signal: <PRED>
    topk: 25
    n_drop: 5